<!DOCTYPE html>
<html ng-app="appPrincipal">
<head lang="en" >
    <meta charset="UTF-8">
    <title>Scret Friend</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "/Frontend/css/principal.css" %}">
    <style>
        .deslogueo
        {
            position: absolute;
            margin-right: 0;
            margin-top: 0;
            text-decoration:underline;
        }

        .deslogueo:hover
        {
            cursor: pointer;
            color: purple;
        }

    </style>
    <script>
        CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    <script src="{% static "/Frontend/bower_components/angular/angular.js" %}"></script>
    <script src="{% static "/Frontend/bower_components/angular-route/angular-route.js" %}"></script>
    <script src="{% static "/Frontend/bower_components/jquery/jquery.min.js" %}"></script>
    <script src="{% static "/Frontend/js/apps/sorteo.js" %}"></script>
</head>
<body>


<div>
    <p  class="deslogueo" ng-controller="principalController" ng-click='desLoguearse()'>cerrar sesion</p>

    <br>

    <casilla-sorteo></casilla-sorteo>
</div>
</body>
</html>